/* 
 * CSS for luggage_timeline
 */


/* --- Form --- */
/* This feature adds the .views-exposed-widgets class to this field group
 * to put the fields inline, but this rule adds spacing.
 */

.group-timeline-date .field-name-field-timeline-day,
.group-timeline-date .field-name-field-timeline-month {
  margin-right: 0.25em;
}

.field-name-field-timeline-month .form-select {
  min-height: 42px;
}

/* .timeline-title class is added by the Feature in Display Suite */

.view-timeline .timeline-title {
  padding-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

/* --- Styled Timeline View --- */

.view-timeline .item-list .views-row {
  padding: 1rem;
  border: 1px solid #dddddd;
}

@media (min-width: 900px) {

  .view-timeline .item-list > ul {
    display: flex;
    flex-direction: column;
  }

  .view-timeline .item-list .node-timeline-event {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
  }

  .view-timeline .item-list .views-row {
    display: flex;
    position: relative;
    width: calc(50% + 2px);
    margin: 0;
    border: 0;
  }

  /* Push up each item for a bit of overlap to save vertical space. */

  .view-timeline .item-list .views-row:not(:first-of-type) {
    margin-top: -5rem;
  }

  /* Position odd and even items to the left and right. The red middle line
   * is created with a red border.
   */

  .view-timeline .item-list .views-row-odd {
    align-self: flex-start;
    padding-right: 3rem;
    padding-left: 0;
    border-right: 4px solid #cc0000;
  }

  .view-timeline .item-list .views-row-even {
    align-self: flex-end;
    padding-left: 3rem;
    padding-right: 0;
    border-left: 4px solid #cc0000;
  }

  /* The white arrows */
  .view-timeline .views-row:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 3rem;
    width: 2rem;
    height: 2rem;
    transform: rotate(-45deg);
    border: 1px solid #ddd;
    background-color: #fff;
  } 

  .view-timeline .views-row-odd:before {
    right: 2rem;
    border-width: 0 1px 1px 0;
  }

  .view-timeline .views-row-even:before {
    left: 2rem;
    border-width: 1px 0 0 1px;
  }

  /* The circles */
  .view-timeline .views-row:after {
    content: '';
    position: absolute;
    top: 3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #cc0000;
    background-color: #ddd;
  } 

  .view-timeline .views-row-odd:after {
    right: calc(-1rem - 2px);
  }

  .view-timeline .views-row-even:after {
    left: calc(-1rem - 2px);
  }
  
}